@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
    @apply  table-zebra rounded-lg overflow-hidden border-accent shadow-md dark:shadow-neutral;
}


thead {
    @apply bg-base-300 uppercase ;
}

.text-black {
    @apply text-gray-400;
}

.input {
    @apply input-bordered
}

.select-primary {
    @apply select-bordered text-base
}

.inactive-zaposleni {
    @apply italic text-yellow-700 opacity-50
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}
.group .group-hover\:opacity-100 {
    opacity: 0;
}
.group .group-hover\:opacity-100 {
    transition: opacity 0.3s;
}
.group .pointer-events-auto {
    pointer-events: auto;
}

/* Active page highlight */
.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

/* For dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
    @apply bg-inherit
}

/* For dark mode*/
.mary-table-pagination button {
    @apply bg-base-100
}
